This notebook examines and adds context to the many data files supplied in the competition. It includes the original description of it along with examples to better describe the contents and purpose of each.

Import packages:

In [1]:
import gresearch_crypto

import pandas as pd

Declare variables:

In [2]:
asset_details_filepath = '/kaggle/input/g-research-crypto-forecasting/asset_details.csv'
ex_sample_submission_filepath = '/kaggle/input/g-research-crypto-forecasting/example_sample_submission.csv'
ex_test_filepath = '/kaggle/input/g-research-crypto-forecasting/example_test.csv'
supplemental_train_filepath = '/kaggle/input/g-research-crypto-forecasting/supplemental_train.csv'
train_filepath = '/kaggle/input/g-research-crypto-forecasting/train.csv'

Import data:

In [3]:
asset_details_df = pd.read_csv(asset_details_filepath)
ex_sample_submission_df = pd.read_csv(ex_sample_submission_filepath)
ex_test_df = pd.read_csv(ex_test_filepath)
supplemental_train_df = pd.read_csv(supplemental_train_filepath)
train_df = pd.read_csv(train_filepath)

#### Asset Details Explanation:

This file is straight forward with the description provided in the competition of:  
`Provides the real name and of the cryptoasset for each Asset_ID and the weight each cryptoasset receives in the metric.`

Weights are used for calculation of the evaluation metric, where certain coins are more important for the metric than others. See the [tutorial](https://www.kaggle.com/cstein06/tutorial-to-the-g-research-crypto-competition) for a detailed calculation.

In [4]:
asset_details_df.tail()

    Asset_ID    Weight Asset_Name
9         12  2.079442    Stellar
10         3  4.406719    Cardano
11         8  1.098612       IOTA
12        10  1.098612      Maker
13         4  3.555348   Dogecoin

#### Example Test and Sample Submission Explanation

Both of these two files have identical descriptions of:  
`An example of the data that will be delivered by the time series API.`  
where the example sample submission has the additional description of:  
`The data is just copied from train.csv.`

Also shown in the above tutorial, these files are examples of what is used during the official submission process. Submission code includes the following parts:

`iter_test = env.iter_test()`

`# get the data for the first test batch`  
`# this line is indented in a loop in the full code`  
`(test_df, sample_prediction_df) = next(iter_test)`

In this example, ex_test_df corresponds to test_df and ex_sample_submission_df corresponds to sample_prediction_df. The test dataframes are new observations to make predictions on, while the prediction dataframes are for storing the predictions once made by models. In fact, the `predict` function is described as:  
`Stores your predictions for the current batch. Expects the same format as sample_prediction_df.`
with the given example of:  
`env.predict(sample_prediction_df)`

In [5]:
ex_test_df.tail()

,timestamp,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,group_num,row_id
51,1623542580,9,431.0,161.862333,161.930000,161.270000,161.485000,1.156636e+03,161.595349,3,51
52,1623542580,10,34.0,2930.150250,2931.520000,2921.660000,2925.073700,1.187095e+00,2926.427322,3,52
53,1623542580,13,240.0,0.068015,0.068055,0.067866,0.067936,2.572088e+06,0.067958,3,53
54,1623542580,12,276.0,0.327267,0.327410,0.326130,0.326406,2.571778e+05,0.326834,3,54
55,1623542580,11,107.0,242.360000,242.550000,241.700000,242.074000,1.393091e+02,242.123168,3,55

In [6]:
ex_sample_submission_df.tail()

    group_num  row_id  Target
51          3      51       0
52          3      52       0
53          3      53       0
54          3      54       0
55          3      55       0

One point to examine when making actual submissions is that in the tutorial, neither the test or prediction dataframes have a column for group number. However, both provided files have this column as shown above. The test data also has a separate Asset ID column, so group number does not indicate the type of coin, but something else that may or may not be important.

#### Train and Supplemental Train Explanation

The training file is described succintly as `The training set` while the supplemental training file is given the much longer description of:  
`After the submission period is over this file's data will be replaced with cryptoasset prices from the submission period. In the Evaluation phase, the train, train supplement, and test set will be contiguous in time, apart from any missing data. The current copy, which is just filled approximately the right amount of data from train.csv is provided as a placeholder.`

In [7]:
train_df.tail()

,timestamp,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,Target
24236801,1632182400,9,775.0,157.181571,157.250000,156.700000,156.943857,4.663725e+03,156.994319,NaN
24236802,1632182400,10,34.0,2437.065067,2438.000000,2430.226900,2432.907467,3.975460e+00,2434.818747,NaN
24236803,1632182400,13,380.0,0.091390,0.091527,0.091260,0.091349,2.193732e+06,0.091388,NaN
24236804,1632182400,12,177.0,0.282168,0.282438,0.281842,0.282051,1.828508e+05,0.282134,NaN
24236805,1632182400,11,48.0,232.695000,232.800000,232.240000,232.275000,1.035123e+02,232.569697,NaN

In [8]:
supplemental_train_df.tail()

,timestamp,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,Target
2015107,1632182400,9,775.0,157.181571,157.250000,156.700000,156.943857,4.663725e+03,156.994319,NaN
2015108,1632182400,10,34.0,2437.065067,2438.000000,2430.226900,2432.907467,3.975460e+00,2434.818747,NaN
2015109,1632182400,13,380.0,0.091390,0.091527,0.091260,0.091349,2.193732e+06,0.091388,NaN
2015110,1632182400,12,177.0,0.282168,0.282438,0.281842,0.282051,1.828508e+05,0.282134,NaN
2015111,1632182400,11,48.0,232.695000,232.800000,232.240000,232.275000,1.035123e+02,232.569697,NaN

Both can be seen to have the same format as expected. However, a large piece of outstanding information is how these different files will actually interact during the evaluation period. For example, if supplemental training data is intended to be used for training as the name implies, the final notebook will need to conduct both this training AND evaluation within the time limit. If this is done, there also would be no way to compare or choose manually whether to use a model with the supplemental train data or one only using the original train data. 

For ease and less complication, it will probably be best to only use supplemental train as the starting input to any time series model rather than also use it for training.